NEXT_PUBLIC_FAUCET_CHAIN=foundry
NEXT_PUBLIC_FOUNDRY_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_NERWO_TOKEN_ADDRESS=
NEXT_PUBLIC_NERWO_TOKEN_SYMBOL=USDT.n
NEXT_PUBLIC_NERWO_TOKEN_DECIMALS=18
