@config "../../tailwind.config.js";
@import "tailwindcss";

/*
* {
  outline: 1px red solid;
}
*/

html {
  @apply font-inter;
}

body {
  @apply bg-white text-primary flex flex-col justify-between;
}

main {
  @apply bg-white py-16 px-20;
}

a {
  @apply text-black hover:text-gray-600;
}

input {
  @apply m-1;
}

h1 {
  @apply text-4xl font-extrabold font-unbounded mx-auto py-4;
  width: w-3 / 4;
}

button {
  @apply font-semibold bg-malachite-500 hover:bg-malachite-600 text-white py-2 px-4 rounded-full;
}

input {
  @apply font-medium shadow appearance-none border rounded-full py-2 px-3 text-gray-700 leading-tight;
}

/* https://github.com/tailwindlabs/tailwindcss/discussions/5969 */
.button-submit {
  @apply font-semibold bg-malachite-500 hover:bg-malachite-600;
}

nav {
  @apply bg-white border;

  ul {
    @apply font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0;
  }

  li {
    @apply my-auto;
  }
}

footer {
  @apply bg-primary text-white;

  .social {
    a {
      @apply text-white hover:text-hover dark:hover:text-hover;
    }
  }
}

.wizard-content {
  @apply mx-auto rounded-3xl bg-gin p-4;

  div {
    @apply p-3;
  }
}

.wizard-header {
  @apply p-4;

  ul {
    @apply overflow-hidden inline-flex justify-evenly w-full;
  }

  li {
    @apply relative w-1/5 text-center inline;
    padding-bottom: 30px;
  }

  .marker-number {
    @apply text-white text-center text-xl align-middle leading-7 inline-block pt-2 rounded-full bg-malachite-500;
    width: 3rem;
    height: 3rem;
  }

  .marker-line {
    @apply bg-malachite-500 absolute w-full;
    height: 2px;
    top: 30%;
  }

  span.marker-text {
    @apply absolute font-medium;
    line-height: -15px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
